<!DOCTYPE html>
<html>
<head>
  <title>Identity</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'identity/application', media: 'all' %>
</head>
<body>

  <div class="box">
    <div class="logo-wrapper">
      <%=  image_tag 'identity/logo300@2x.png', width: 300, height: 37, alt: '' %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
