<!DOCTYPE html>
<html>
<head>
  <title>Identity</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'identity/application', media: 'all' %>
</head>
<body>

  <div class="box">
    <div class="logo-wrapper">
      <%= image_tag 'identity/logo300@2x.png', width: 300, height: 37, alt: '' %>
    </div>

    <div class="content">
      <% if flash[:notice].present? %>
        <div class="notice">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert].present? %>
        <div class="alert">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>

</body>
</html>
