<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <% if signed_in? %>
        Signed in as <%= current_user.email %>
        <%= button_to 'Sign out', sign_out_path, method: :post %>
      <% else %>
        Not signed in
        <%= button_to 'Sign in', sign_in_path, method: :post %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
