<% content_for(:page_title, 'Sign in failure') %>

<h1><%= t('.title') %></h1>

<% if params[:message] == 'access_denied' %>
  <p><%= t('.denied') %></o>
<% else %>
  <p><%= t('.description') %></p>
<% end %>

<div class="buttons">
  <%= render partial: 'back_button', locals: { url: '/' } %>
  <%= render partial: 'sign_in_button' %>
</div>
