<h1><%= t('.title') %></h1>

<p>
  <%= t('.description') %>

  <% unless signed_in? %>
    <%= t('.sign_in') %>
  <% end %>
</p>

<div class="buttons">
  <%= render partial: 'identity/auth/back_button', locals: { url: :back } %>

  <% if signed_in? %>
    <%= button_to '/auth/logout', method: :post do %>
      <%= t('identity.sign_out') %>
    <% end%>
  <% else %>
    <%= render partial: 'identity/auth/sign_in_button' %>
  <% end %>
</div>
